@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}